@import url("http://fonts.cdnfonts.com/css/bludhaven");
@import url("http://fonts.cdnfonts.com/css/segoe-pro");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  color: #fefefe;
  background-color: #202020;
  font-family: "Segoe Pro", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  max-width: 85%;
  min-height: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #818080;
  transition: 0.5s all;
}
a:hover {
  color: #fefefe;
}

header {
  width: 100vw;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  padding: 5px;
}

nav {
  max-width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: #818080;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 15%;
  width: 100%;
  flex: 1;
  opacity: 0.5;
  transition: 0.5s all;
}
.logo img:hover {
  opacity: 1;
}
.logo a {
}
.user {
  max-width: 25px;
  padding: 4px;
}

/* hero section */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 120px 0;
  height: 1.2em;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
}

.social > * {
  flex-basis: 100%;
  margin: 20px;
}
.social .github {
  width: 25px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
.hero h4 {
  font-size: 4rem;
  font-weight: 500;
  width: 30rem;
  font-family: "Bludhaven", sans-serif;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  white-space: nowrap;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 2 alternate both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter-name {
  visibility: hidden;
  animation: typewriter-name 4s steps(44) 9s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  0% {
    width: 0;
    visibility: hidden;
  }
  100% {
    width: 30rem;
  }
}
@keyframes typewriter-name {
  from {
    width: 0;
  }
  to {
    width: 30rem;
    visibility: visible;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  padding: 50px;
  position: relative;
  bottom: 0;
}

footer > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 25px 0 35px 0;
}

footer .social-foot > * {
  margin: 20px;
}
footer .social-foot .github {
  width: 23px;
}
footer span {
  color: #7a7a7a;
}
main img#torus {
  display: none;
  position: absolute;
  left: 50%;
  margin-bottom: -500px;
  z-index: -1000;
  transform: rotate(-45deg);
  transform-origin: center;
  height: 120%;
  opacity: 0.18;
  animation: rotate 20s steps(1000) infinite normal;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

hr {
  width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 1px solid;
  color: rgba(94, 93, 93, 0.493);
}

/* media query */
@media (max-width: 480px) {
  nav {
    font-size: 0.7em;
  }

  .profile {
    display: none;
  }

  .logo img {
    min-width: 30%;
  }

  .hero h4 {
    font-size: 1.7rem;
    font-weight: 500;
    width: 30rem;
    font-family: "Bludhaven", sans-serif;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    overflow: hidden;
    white-space: nowrap;
  }
}
